@{
	Layout = "~/Views/Shared/View_Layout.cshtml";
}




<div id="app">
	<div>
		<van-search v-model="queryStr" placeholder="请输入搜索关键词" v-on:search="search()" />

	</div>
	<div>
		<van-list v-model="loading"
				  :finished="finished"
				  finished-text="没有更多了"
				  v-on:load="onLoad">
			@*<van-cell v-for="item in list" :key="item.ID" :title="item.ID" />*@
			<div v-for="item in list" :key="item.ID">
				<van-panel title="行程">
					<van-row>
						<van-col span="1"></van-col>
						<van-col span="6">{{item.DeparturePlace}} </van-col>
						<van-col span="4">至</van-col>
						<van-col span="6">{{item.Destination}}</van-col>


					</van-row>
					<van-row>
						<van-col span="1"></van-col>
						<van-col span="6">出发时间： </van-col>
						<van-col span="16"> {{formatter(item.DepartureTime)}}</van-col>
						<van-col span="1"></van-col>

					</van-row>

					<van-row>
						<van-col span="1"></van-col>
						<van-col span="6">车牌号： </van-col>
						<van-col span="6">{{item.CarNumber}}</van-col>
						<van-col span="5">空位：</van-col>
						<van-col span="5">{{item.FreeSeat}}</van-col>

						<van-col span="1"></van-col>
					</van-row>
					<van-row>
						<van-col span="1"></van-col>
						<van-col span="6">联系人： </van-col>
						<van-col span="6">{{item.Driver}}</van-col>
						<van-col span="3">Tel：</van-col>
						<van-col span="7">{{item.Tel}}</van-col>
						<van-col span="1"></van-col>
					</van-row>
					<van-row>
						<van-col span="1"></van-col>
						<van-col span="6">途经高桥： </van-col>
						<van-col span="3" v-if="item.IsGaoQiao == '1'">是 </van-col>
						<van-col span="3" v-else>否 </van-col>
						<van-col span="6">
							<van-button v-on:click="Detail(item.ID)" size="small" type="info" block>查看伙伴</van-button>
						</van-col>
						<van-col span="1"></van-col>
						<van-col span="6" v-if="item.IsCancel == '0'">
							<van-button v-on:click="Cancel(item.ID)" size="small" type="primary" block>取消加入</van-button>
						</van-col>
						<van-col span="6" v-else>
							<van-button size="small" type="danger" block>已取消</van-button>
						</van-col>
						<van-col span="1"></van-col>
					</van-row>

				</van-panel>
				@*<van-divider style="{ color: '#1989fa', borderColor: '#1989fa', padding: '0 16px' }">

					</van-divider>*@
			</div>

		</van-list>
	</div>
	<div>
		<van-popup v-model="show" position='bottom' :style="{ height: '45%',backgroud:'#ff0000' }">
			<van-list>
				@*<van-cell v-for="item in list" :key="item.ID" :title="item.ID" />*@
				<div v-for="item in detailList" :key="item.ID">
					<van-panel title="">



						<van-row>
							<van-col span="1"></van-col>
							<van-col span="5">联系人： </van-col>
							<van-col span="7">{{item.Passenger}}</van-col>
							<van-col span="3">Tel：</van-col>
							<van-col span="7">{{item.Tel}}</van-col>
							<van-col span="1"></van-col>
						</van-row>

					</van-panel>
					@*<van-divider style="{ color: '#1989fa', borderColor: '#1989fa', padding: '0 16px' }">

						</van-divider>*@
				</div>

			</van-list>

		</van-popup>
	</div>
	<van-tabbar v-model="active">
		<van-tabbar-item icon="home-o" v-on:click="tab('/Fighting/Index')">我是车主</van-tabbar-item>
		<van-tabbar-item icon="search" v-on:click="tab('/Fighting/ViewList')">我要拼车</van-tabbar-item>
		<van-tabbar-item icon="friends-o" v-on:click="tab('/Fighting/ViewMyList')">我发布的</van-tabbar-item>
		<van-tabbar-item icon="friends-o" v-on:click="tab('/Fighting/ViewMyJoinList')">我加入的</van-tabbar-item>
	</van-tabbar>

</div>


<script>
	// 必须实例化
	var app = new Vue({
		el: "#app",
		data: {
			active: 3,
			list: [],
			detailList:[],
			loading: false,
			finished: false,
			page: 0,
			//offset: 0,
			pagesize:10,
			IsGaoQiao: 1,
			DeparturePlace:"",
			DepartureTime: new Date(),
			Destination: "",
			queryStr: "",
			show: 0,

		},
		//created: function () {
		//	this.query();
		//},
		methods: {
			tab: function (value) {

				self.location.href = value
			},
			onLoad: function () {
				this.query();
				this.page++;
			},

			Detail: function (ID) {
				this.show = 1;
				this.detailList.splice(0, this.detailList.length);
				let url = '/Fighting/getDetail';
				this.$http.post(url, { ID: ID }, { emulateJSON: true }).then(function (res) {
					//detailList
					if (res.body.length > 0) {
						//this.page++;
						for (let i = 0; i < res.body.length; i++) {
							this.detailList.push(res.body[i]);
						}

					}
				}, function (res) {

					console.log(res);
				});
			},

			Cancel: function (ID) {
				vant.Dialog.confirm({
					title: '提示',
					message: '确认取消加入该行程吗'
				}).then(() => {
					// on confirm
					let url = '/Fighting/CancelJoinSave';
					this.$http.post(url, { ID: ID }, { emulateJSON: true }).then(function (res) {
						this.search();
						vant.Dialog.alert({
							title: res.body.state,
							message: res.body.msg
						}).then(() => {
							// on close
						});
					}, function (res) {

						console.log(res);

					});
				}).catch(() => {
					// on cancel
				});

			},
			search: function () {
				this.page = 0;
				this.list.splice(0, this.list.length);
				this.query();
			},
			query: function () {

				let url = '/Fighting/getList';
				this.$http.get(url, { params: { page: this.page, pagesize: this.pagesize, IsGaoQiao: this.IsGaoQiao, DepartureTime: this.DepartureTime, Destination: this.Destination, DeparturePlace: this.DeparturePlace, queryStr: this.queryStr,isMyJoin:1 } }, { emulateJSON: true }).then(function (res) {

					console.log(res.body);
					this.loading = false;

					if (res.body.length < this.pagesize) {
						this.finished = true;
					}
					if (res.body.length > 0) {
						//this.page++;
						for (let i = 0; i < res.body.length; i++) {
							this.list.push(res.body[i]);
						}
						console.log(this.list)
					}
				}, function (res) {

					console.log(res);
				});
			},
			formatter: function (value) {

					if (value == null || value == '') {
						return '';
					}
					var dt = parseToDate(value);
					return dt.format("yyyy-MM-dd hh:mm:ss");

			},

		}





	});
</script>




