
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 引入样式 -->
	<link rel="stylesheet" href="~/Content/index.css">
	<title>Fighting2020</title>



	<!-- 引入组件 -->
	<script src="~/Scripts/vue.min.js"></script>
	<script src="~/Scripts/vant.min.js"></script>
	<script src="~/Scripts/vue-router.js"></script>
	<script src="~/Scripts/vue-resource.min.js"></script>
	<script src="~/Scripts/date.js"></script>
</head>
<body>
	
			@RenderBody()

		
</body>
</html>
